{% load static %}
<html>
    <head>
        <title>GC #1 @ USU CPL</title>
        <link rel="stylesheet" href="{% static 'viewer/styles.css' %}">
    </head>
    <body>
        <script>
            $(document).ready(function(){
               setInterval(function(){ reload_page(); },60*60000);
            });
            function reload_page() {
               window.location.reload(true);
            }
        </script>
        <h3>Growth Chamber #1 Graphs</h3>
        <table id="graphs">
            <tr>
                <td class="graph">
                    <img src="{% static 'viewer/a.png' %}" width="500px">
                </td>
                <td class="graph">
                    <img src="{% static 'viewer/b.png' %}" width="500px">
                </td>
                <td class="graph">
                    <img src="{% static 'viewer/c.png' %}" width="500px">
                </td>
            </tr>
            <tr>
                <td class="graph">
                    <img src="{% static 'viewer/d.png' %}" width="500px">
                </td>
                <td class="graph">
                    <img src="{% static 'viewer/e.png' %}" width="500px">
                </td>
                <td class="graph">
                    <img src="{% static 'viewer/f.png' %}" width="500px">
                </td>
            </tr>
        </table>
        <p>Data last updated at {{ time }} (server time, GMT)</p>
        <p>Otsu's Binarization last outputted the threshold value {{ selectedValue }}</p>
        <a href="https://usu.box.com/s/o8rxnnzo4rkhrro0drs1k0oxi4lueyij">View raw data on Box</a>
    </body>
</html>